---
layout: template
title: Category
---

<div class="row">
	<div class="bg-light col-8 m-2 p-4">
        <h1 class="pt-2 ps-1 mb-0">{{page.title}}</h1>
        <hr class="border border-1 border-secondary mt-3 mb-3">
        
        <div>
            <div class="accordion" id="accordionExample">
                {% for category in site.categories %}
                <div class="accordion-item">
                    <h2 id="{{ category | first | slugify }}-arch" class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category | first | slugify }}" aria-expanded="true" aria-controls="{{ category | first | slugify }}">
                            {{ category | first }}
                        </button>
                    </h2>
                    <div id="{{ category | first | slugify }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body pt-3 pb-3">
                            <ul class="mb-0">
                                {% for posts in category  %}
                                    {% for post in posts %}
                                        {% if post.url %}
                                        <li>
                                            <h5 class="pt-1 pb-1 mb-0">
                                                <a class="post-title" href="{{ post.url | relative_url }}">
                                                    {{ post.title | escape }}
                                                </a>
                                            </h5>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <aside class="col m-2 p-10">
		{% include aside.html %}
	</aside>
</div>