<!-- <aside class="col m-2 p-10">
    <div class="bg-light">
        <div class="d-flex ps-3 pt-2 border-bottom border-2 border-secondary">
            <p class="h4 p-2">
                <i class="bi bi-pencil-square me-2"></i>
                Content
            </p>
        </div>
        {% if site.posts.size > 0 %}
        <ul class="container posts pt-4 pb-3 ms-2">
            {% for category in site.categories %}
            <li class="container ps-3 mt-1 d-flex justify-content-between">
                <a class="h6 aside-post-title" href="#{{ category | first }}">
                    {{ category | first }}
                </a>
                <span class="h6 badge text-bg-light">{{ category | last | size }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</aside> -->