
<div class="container d-flex flex-nowrap">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img alt="This is a logo about this website" src="{{ site.baseurl }}/assets/images/blog-slogan.png" height="45px">
    Bo Han's Blog
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/categories.html">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/tags.html">Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/about.html">About</a>
      </li>
    </ul>
  </div>

  <div class="d-flex nav-split">
    <form class="d-flex" role="search">
      <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary btn-sm" type="submit">Search</button>
    </form>
    <!-- <input type="text" id="search-input" placeholder="search..."> -->
  </div>

  <div class="d-flex" style="font-size: 1.5rem;">
    <ul class="navbar-nav">
      {% if site.social_links.github %}
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/{{ site.social_links.github }}">
				  <i class="bi bi-github"></i>
        </a>
			</li>
      {% endif %}
      {% if site.social_links.linkedIn %}
      <li class="nav-item">
        <a class="nav-link" href="https://linkedin.com/{{ site.social_links.linkedIn }}">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      {% endif %}
      {% if site.social_links.mail %}
      <li class="nav-item">
        <a class="nav-link" href="https://{{ site.social_links.mail }}">
          <i class="bi bi-envelope-at"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  
</div>