@import 'ext/solarized-light';

div.highlighter-rouge {
	width: 50vw;
	position: relative;
	left: 20px;
	// right: 150px;
	margin: 40px 0;
}

.highlight {
	background-color: #f4f4f4;
	font-size: 0.9em;
}

div.highlight {
	padding: 20px 50px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #f4f4f4;
}
