---
---

body {
    padding-top: 6rem;
}

.lower-bg {
    background-color: #d8d8d8;
}

.nav-split {
  border-right: 1.8px solid #4a4a4a !important;
  padding-right: 0.5rem;
}

.posts, .tags, .catalogs {
	list-style-type: none;
}

.post-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
    
	a:hover {
		border-bottom: none;
	}
}

.post-link {
    flex: 4 200px;
    text-decoration: none;
}

.post-title {
	text-decoration: none;
	color: #272727;
	margin: 0.01rem;
	&:hover {
		text-decoration: underline;
		border-bottom: 0;
	}
}

.aside-post-title {
	text-decoration: none;
	color: #272727;
	// margin: 0.01rem;
	&:hover {
		color: #464647;
		text-decoration: underline;
		border-bottom: 0;
	}
}

.post-date {
	color: #999;
	.icon-calendar {
		margin-right: 6px;
	}
}

.aside-tag {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		border-bottom: 0;
	}
}