<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>
	{% include page_header.html %}
	
	<main>
		<div class="container">
			<!-- 博客文章列表 -->
			{% if site.posts.size > 0 %}
			<ul class="posts">
				{% for post in site.posts %}
				<li>
					{% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
					<div class="post-meta">
						<a class="post-link" href="{{ post.url | relative_url }}">
							<h2 class="post-title">{{ post.title | escape }}</h2>
						</a>
						<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
					</div>
					<div class="post">
						{% if site.show_excerpts %}
						{{ post.excerpt }}
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</main>

	<!-- 引入 footer -->
	{% include footer.html %}
</body>
</html>



